.loginBoxContainer {
  border: 1px solid rgba(220, 152, 136, 0.52);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 40%;
}

.loginBoxContainer h2 {
  margin-bottom: 20px;
}

.formInputContainerClass {
  margin-bottom: 10px;
}
