@layer base {
  body {
  }
  h1 {
    a {
      color: inherit;
    }
  }
  h2 {
    a {
      color: inherit;
    }
    color: #333333;
    font: oblique normal 700 34px / 0.9em
        "GT Walsheim Condensed Regular Oblique",
      Helvetica, Arial, Verdana, sans-serif;
    font-family: "GT Walsheim Condensed Regular Oblique", Helvetica, Arial,
      Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  h3 {
    a {
      color: inherit;
    }
  }
  h4 {
    a {
      color: inherit;
    }
  }
  h5 {
    a {
      color: inherit;
    }
  }
  h6 {
    a {
      color: inherit;
    }
  }

  p {
    color: inherit;
  }
  sup {
  }
}
